body{
    direction: rtl;
    text-align: right;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
        background-color: gray;
        position: relative;
        padding:10px;
        width: 100%;
      /*  height:105px;*/
    }   
 .lang{
     position: absolute;
     top:25px;
     left:500px;
     color:white;
     font-size: 13px;
     text-decoration: none;
 }
 .lang:hover{
     color:blue;
 }
 .button{
     position:absolute;
     top:26px;
     left:280px;
 } 
 input{
     position:absolute;
     top:25px;
     left:300px;
 }  
.nav1>ul>li{
    list-style-type: none;
    display:inline;
    padding: 20px;
    border-left: 2px solid lightgrey;
    z-index: 100;
} 
.nav1>ul>li:last-child{
    border-left: none;
} 
.nav1>ul{
    padding-top: 50px; 
    height: 40px;
}
.imghome:first-child{
    margin-right:125px;
}
.nav1>ul>li>a,.menutop .contentmenu>li>a{
    text-decoration: none;
    color:white;
}
.nav1 ul li a:hover{
   color:blue;
}
.menutop>ul>li>a:hover{
    color:blue;
}
.menutop .contentmenu li{
    list-style-type: none;
    width: 150px;

}
.menutop{
    position: relative;
}
.menutop:hover .contentmenu {
    display: block;
  }
  .contentmenu{
    display:none;
    position:absolute;
    right:0;
  }
  .menutop .contentmenu{
      background-color: gray;
  }
  .logo{
      position: absolute;
      top:60px;
      padding-right:30px;

  }
  /*----------------------------------------------------------------------------------------------------------------*/
  .column1 {
      float: right;
      width: 33.33%;
      height: 100px;
      position: relative;
      height: 355px;
  }
  .row-menu{
      margin:auto;
      width: 900px;
  }
.row2{
    position: relative;
    right:-37px;
}
  .img11{
      position:absolute;
      margin:50px;
  }
  .img12{
      position: absolute;
      right:70px;
      top:100px;
  }
  .r1{
      position: absolute;
      top:40px;
      right:65px;
      font-size: 14px;
  }
  .c1{
      position:absolute;
      top:220px;
      right:220px;
      font-size:13px;
      color:gray;
  }
  
  .nav2{
      position:absolute;
      top:90px;
      right:45px;
      font-size:13px;
      color:gray;
  }
  .nav2>ul>li{
    list-style-type: none;
  }
  .nav2>ul>li>a{
      color:gray;
  }
  .img121{
      position: absolute; 
      right:250px; 
      top:90px;  
  }
  footer{
      position:fixed;
      bottom:0;
      background-color:gray;
      width: 100%;
      height:38px;
  }
 footer .nav-f ul li{
      display:inline;
      padding:5px;
      font-size: 13px;
      border-left: 1px solid white;
      text-decoration: none;     
  }
  .nav-f ul li a:hover{
      color:blue;
  }
  .nav-f ul .rd a{
      color:red;
  }
  .nav-f ul li a{
      color: white;
      text-decoration: none;
  }
  
 footer >.nav-f> ul >li:last-child{
      border-left:none;
 }

  .textarea {
      background-color: rgba(130, 130, 130, 0.8);
      width: 248px;
      height: 97px;
      border-bottom-right-radius: 20px;
      position: absolute;
      bottom: -10px;
      right: 14px;
  }

    
.im1{
    padding:15px;
}
  .textarea h4 {
      margin: 0;
      padding: 0;
      font-size: 14px;
      color:white;
  }

  .textarea p {
      font-size: 13px;
      color:white;
  }

  .textarea a {
      position: relative;
      top: -5px;
      font-size: 13px;
      float: left;
      left:30px;
      color:white;
  }
  .textarea .read{
      position: relative;
      top:5px;
      float:left;
      left:-5px;
  }
  
 /* .row{
      width: 900px;
     }*/
     /*--------------------------------------------------------------------------------------------------------------*/
     .contact{
        background-color: lightgrey;
        width: 110px;
        height:36px ;
        position: absolute;
        right:25px;
        margin-top: 25px;
        text-align: center;
        font-size: 13px;
        text-decoration: none;
     }
     .page{
         position:absolute;
         top:20px;
         right:140px;
         font-size:13px;
         text-decoration: none;
     }
     .cont{
         position: absolute;
         top:7px;
         right:207px;
         font-size: 13px;
     }
     .con{
         position: absolute;
        border-bottom: 1px solid lightgrey;
        right:135px;
        width: 450px;
        top:15px;
        padding:15px;
        font-size: 14px;

     }
     /*.column2{
        float: right;
        width: 50%;
        height: 100px;
        position: relative;
        height: 355px;
    }
    .row {
        margin: auto;
    }*/
    .right{
        position:absolute;
        bottom:50px;
        right:120px;
    }
    .col-leftop{
        position: relative;
        top:-370px;
        right:500px;
    }
    .tr h4{
        position: absolute;
        top:1px;
        right:15px;
        font-size: 14px;
    }
    .hr{
        position: absolute;
        top:2px;
        right:17px;
        font-size: 14px;
    }
    .pr{
        position: absolute;
        top:20px;
        right:17px;
        font-size: 13px;
    }
    .pr1{
        position:absolute;
        top:60px;
        right:17px;
        font-size: 12px;
    }
    #fname{
        position: absolute;
        left:150px;
        top:90px;
        font-size: 13px;
    }
    #fname1{
        position:absolute;
        left:350px;
        top:90px;
        font-size: 14px;
    }
    
    .column2 {
        float: right;
        width: 33.33%;
        height: 100px;
       /* position: relative;*/
        height: 355px;
    }
    
    .tr p{
        position: absolute;
        top:30px;
        right:15px;
        font-size: 13px;
        width: 250px;
    }
    
     
    .a1{
        position: absolute;
        top:230px;
        right:17px;
        font-size: 14px;
        color:blue;
        text-decoration: none;
    }
    .p3{
        position: absolute;
        top:230px;
        right:17px;
        font-size: 14px;
    }
    .a3{
        position:absolute;
        top:260px;
        right:17px;
        font-size: 14px;
        color:blue;
        text-decoration:none; 
    }

