body{
    direction: rtl;
    text-align: right;
   /* margin-top:0;*/
}
.menu{
        width:1500px ;
        height: 200px;
        background-color: gray;
        position: relative;
    }   
.nav1>ul>li{
    list-style-type: none;
    display:inline;
    padding: 40px;
    border-left: 1px solid lightgrey;
}
.nav1>ul>li:last-child{
    border-left: none;
}
.nav1>ul{
    padding-top: 50px; 
}
.imghome:first-child{
    margin-right:125px;
}
.nav1>ul>li>a,.menutop .contentmenu>li>a{
    text-decoration: none;
    color:white;
}
.menutop .contentmenu li{
    list-style-type: none;
   /* width: 150px;
    height:50px ;*/
}
.menutop{
    position: relative;
}
.menutop:hover .contentmenu {
    display: block;
  }
  .contentmenu{
    display:none;
    position:absolute;
    right:0;
  }
  .logo{
      position: absolute;
      top:30px;
  }
  /*----------------------------------------------------------------------------------------------------------------*/
  